footer{

    border-top: 1px solid var(--color-gris-5b);
    padding: 10px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer ul{
    list-style: none;
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 15px;
}
footer .ajustes{
    display: flex;
    align-items: center;
    gap: 16px;
    
}
footer a{
    color: var(--color-gris);
    font-size: 15px;
    margin: 15px;

}
footer a:hover{
    color: var(--color-azul);
}