:root{
    --bg-color: rgba(47,23,15,0.9);
    --second-bg-color: #df902a;
    --text-color: #e1e1e1;
    --hover-color: rgba(255,255,255,0.4);
    --font-sans: "Open Sans", sans-serif;
    --font-pacifico: "Pacifico", cursive;
}

.container{
    background-color: var(--bg-color);
    color: var(--text-color);
    max-width: 85rem;
    padding: 5rem 2rem;
    border-radius: 2rem;
    margin-top: 3rem;
}
.welcome-container span{
    display: block;
}
.welcome-container h2 span:first-child{
    color: var(--second-bg-color);
    font-size: 2rem;
    font-weight: 700;
}
.welcome-container h2 span:last-child{
    font-weight: 100;
    font-size: 4.5rem;
    margin-bottom: 2rem;
}
.welcome-container p{
    line-height: 1.75;
    margin-bottom: 3rem;
}
.welcome-btn{
    margin-bottom: -7rem;
}