body{
    background-color: red;
}
section{
    border: 0.5em solid;
    
}
@media (width <= 600px){
    body{
        background-color: rgb(0, 234, 255);
    }
    section{
        border: 2rem solid;
    }
}

